<app-header ></app-header>
<div class="base">

    <div class="div-components-header">
        <div class="div-searches">
            <button type="button" class="btn btn-success" (click)="getExtrato5Dias()">5 dias</button>
            <button type="button" class="btn btn-success" (click)="getExtrat030Dias()">30 dias</button>
            <button type="button" class="btn btn-success" (click)="getExtrato60Dias()">60 Dias</button>
        </div>

        <div class="div-date">
            <span>Esolha um período:</span>

            <div class="div-datepicker">

                <mat-form-field>
                    <input matInput [matDatepicker]="picker1" placeholder="Data Inicial">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <input matInput [matDatepicker]="picker2" placeholder="Data Final" [formControl]="date3">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 ngDefaultControl></mat-datepicker>
                </mat-form-field>

                <button type="button" class="btn btn-success" (click)="filtrar()">Filtrar</button>

            </div>
        </div>
    </div>



    <div class="conta">

        <div class="div-table table-responsive">
            <table class="table table-hover" id="table">
                <thead>
                    <tr>
                        <th scope="col">Data</th>
                        <th scope="col">Lançamentos</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Saldo</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Saldo</th>
                        <th> </th>
                        <th> </th>
                        <th>{{ userBalance }}</th>
                    </tr>
                </tfoot>
                <tbody id="table-body">
                </tbody>
            </table>

        </div>

        

    </div>
    <div class="div-buttons">
            <button type="button" class="btn btn-success">Exportar</button>
        </div>

</div>