$baseline: 24px;

section {
    background-image: url('../../../../assets/bg.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    height: 96.8vh;

    .container {
        display: flex;
        justify-content: center;
        max-width: 600px;
        width: 85%;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    .cadastro-conteudo {
        display: inline-block;

        
        h1,h2 {
            margin-top: $baseline;
            margin-bottom: $baseline / 2;
            border-bottom: 3px solid #3CDDEC;
        }

        p {
            font-size: 0.8rem;
            margin-bottom: $baseline * 1.5;
        }
    

    }



    .cadastro-text {
        text-transform: uppercase;
        color: #fff;
    }

 

    .cadastro-form {
        max-width: 350px;
        width: 100%;
        

        .form-group {
            width: 100%;
        }

        .form-bt-left {
            display: flex;
            justify-content: flex-end;
        }
    }
}


