<div class="footer">
    <div class="footer__infos">
        <img src="../../assets/logo.png" alt="Logo turingbank Footer" class="footer__infos--logo" />
        <p class="footer__infos--paragraph">
            Avenida Paulista, 200 - São Paulo-SP
        </p>
        <p class="footer__infos--paragraph">
            Fone: (11) 9999-9999
            | (11) 9999-9999
        </p>
        <p class="footer__infos--paragraph">contato@turingbank.com.br</p>
    </div>
    <div class="footer__mapa-site">
        <ul class="footer__mapa-site--options">
            <h1 class="footer__mapa-site--titulo">Mapa do site</h1>
            <li class="footer__mapa-site--item">
                <a routerLink="" class="footer__mapa-site--link">Início</a>
            </li>
            <li class="footer__mapa-site--item">
                <a href="#" class="footer__mapa-site--link">Conheça o Turing Bank</a>
            </li>
            <li class="footer__mapa-site--item">
                <a routerLink="cadastro" class="footer__mapa-site--link">Abra a sua conta</a>
            </li>
            <li class="footer__mapa-site--item">
                <a href="#" class="footer__mapa-site--link">Nosso Cartão</a>
            </li>
            <li class="footer__mapa-site--item">
                <a href="#" class="footer__mapa-site--link">Tire suas dúvidas</a>
            </li>
            <li class="footer__mapa-site--item">
                <a href="#" class="footer__mapa-site--link">Política de privacidade</a>
            </li>
        </ul>
    </div>
    <div class="footer__redes">
        <h1 class="footer__redes--titulo">Redes Sociais</h1>
        <div class="footer__redes--social">
            <div style="margin-top: 15px;"> 
                <a href="#" target="_blank" class="footer__redes--social-link fab fa-facebook-square"></a>
                <a href="#" target="_blank" class="footer__redes--social-link fab fa-instagram"></a>
            </div>
            <div style="padding-bottom: 30px">
                <a href="#" target="_blank" class="footer__redes--social-link fab fa-youtube"></a>
                <a href="#" target="_blank" class="footer__redes--social-link fab fa-twitter"></a>
            </div>

        </div>
    </div>
    <div class="footer__copy">
        <p class="footer__copy--texto">
            © 2019. Todos os direitos reservados.
        </p>
    </div>
</div>