@import '../../shared/colors/colors.component';

.footer {
    height: 400px;
    background-color: $cor-cinza-claro;
    border-top: 1px solid $cor-cinza-claro-2;

    display: grid;
    grid-template-rows: 350px 50px;
    grid-template-columns: repeat(3, 1fr);
    
    &__infos {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      
      &--logo {
        height: 160px;
      }
    }

    &__mapa-site {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      
      &--titulo {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 15px;
        padding: 0 20px 18px 20px;
        border-bottom: 1.5px solid $cor-cinza-escuro;
      }
      
      &--options {
        line-height: 30px;
      }
      
      &--item {
        list-style: none;
      }
      
      &--link {
        color: inherit;
        font-size: 16px;
        text-decoration: none;
        cursor: pointer;

        &:hover {
          color: $cor-primaria;
        }
      }
    }
    
    &__redes {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      
      &--titulo {
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 15px;
        padding: 0 20px 18px 20px;
        border-bottom: 1.5px solid $cor-cinza-escuro;
      }
    }
    
    &__copy {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      grid-column: 1 / span 3;
      background-color: $cor-primaria;
      color: $cor-branco;
      
      &--texto {
        font-size: 13px;
        margin: 0;
      }

    }

}

.footer__redes--social-link {
  color: inherit;
  font-size: 74px;
  text-decoration: none;
  padding: 0 1rem;

  &:hover {
    color: $cor-primaria;
  }
}


@media screen and (max-width: 995px) {
  .footer {
    grid-template-columns: 1fr 1fr;

    &__redes {
      display: none;
    }
  }

}

@media screen and (max-width: 600px) {
  .footer {
    grid-template-columns: 1fr;

    &__mapa-site {
      display: none;
    }
    
    &__infos--logo {
      height: 130px;
    }
  }
}