@import '../../shared/colors/colors.component';

.login {
    background-color: $cor-primaria;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-card {
    height: 360px;
    width: 380px;
    background-color: $cor-branco;
    padding: 40px 40px;

    border-radius: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

h2 {
    color: $cor-branco;
    margin-bottom: 24px;
}

.form-login {
    display: flex;
    justify-content: center;
    flex-direction: column;

    width: 100%;
}

.form-field {
    margin-bottom: 35px !important;
}

.login-btn {
    background-color: $cor-primaria;
    color: $cor-branco;
    font-size: 20px;
    font-weight: 300;
}

.volta-btn {
    margin-top: 5px;
    background-color: $cor-cinza-claro;
    color: $cor-preto;
    font-size: 20px;
    font-weight: 300;
}

.mat-raised-button {
    padding: 6px 16px;
}



@media screen and (max-width: 600px) {
    .login-card {
        width: 320px;
    }
}