<div class="base">
    <div class="container">
        <div class="form-h4">
            <h4>Pagamentos</h4>
        </div>
        <form>

            <div class="form-group">
                <label for="name">Conta destino</label>
                <input type="text" class="form-control" id="name" required name="destino" [(ngModel)]="destino">
                <label for="name">Valor:</label>
                <input type="text" class="form-control" id="name" required name="value" [(ngModel)]="value">
            </div>

            <button type="submit" class="btn btn-success btn-continue" (click)="depositar()">Continuar</button>
        </form>
    </div>
</div>
