<div class="base">
    <div class="container">
        <div class="form-h4">
            <h4>Pagamentos</h4>
        </div>
        <!-- <form>

            <div class="form-group">
                <label for="name">Conta destino</label>
                <input type="text" class="form-control" id="name" required name="destino" [(ngModel)]="destino">
                <label for="name">Valor:</label>
                <input type="text" class="form-control" id="name" required name="value" [(ngModel)]="value">
            </div>

            <button type="submit" class="btn btn-success btn-continue" (click)="depositar()">Continuar</button>
        </form> -->


        <form [formGroup]="pagamentoForm" (ngSubmit)="depositar()" class="pagamento-form">
            <mat-card class="form-card">

                <mat-form-field class="form-group">
                    <input matInput
                            type="number"
                            placeholder="Conta"
                            autocomplete="off"
                            name="conta" id="conta" [formControl]="conta"
                            >
                </mat-form-field>

                <mat-form-field class="form-group">
                    <input matInput
                            type="number"
                            placeholder="Valor"
                            autocomplete="off"
                            name="valor" id="valor" [formControl]="valor"
                            >
                </mat-form-field>

             

                <div class="form-bt-left">
                    <button mat-raised-button color="primary">Enviar</button>
                    <div style="margin-left: 5px;"> 
                      <a mat-raised-button 
                      color="primary" 
                      [routerLink]="'/dados-bancarios'">Voltar</a>
                    </div>
                    
                  
                </div>

            </mat-card>
        </form>
    </div>
</div>
