<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="">
        <img class="logo-header" src="../../assets/logo2.png" alt="Logo Turing Bank">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse links-nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link link-hover" routerLink="">Início</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-hover" routerLink="#">Conheça o Turing Bank</a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-hover" routerLink="#">Nosso Cartão</a>
            </li>
        </ul>
        <ul *ngIf="!currentUser" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link link-hover"  routerLink="/login">Login</a>
            </li>
            <li class="nav-item btn-conta">
                <a class="nav-link destaque" routerLink="/cadastro">Abra sua conta</a>
            </li>
        </ul>
        <ul *ngIf="currentUser" class="navbar-nav mr-auto">
            <li class="nav-item">
                <span class="nav-link">Olá <b>{{currentUser}}</b></span>
            </li>
            <li class="nav-item btn-conta">
                <a (click)="logout()" class="nav-link destaque">Sair</a>                
            </li>
        </ul>
    </div>
</nav>

