<app-header ></app-header>
<div class="base">
    <div class="container">
        <div class="form-h4">
            <h2 style="margin-bottom: 20px">Transferência</h2>
        </div>
        <!-- <form> -->
            <!--
            <div class="form-group">
                <label for="name">De:</label>
                <div>
                    <mat-button-toggle-group #group="matButtonToggleGroup" multiple=true>
                        <mat-button-toggle *ngFor="let item of toggleOptions;" [value]="item">{{item}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>
            <div class="form-group">
                <label for="name">Para:</label>
                <div>
                    <mat-button-toggle-group #group="matButtonToggleGroup" multiple=true>
                        <mat-button-toggle *ngFor="let item of toggleOptions;" [value]="item">{{item}}
                        </mat-button-toggle>
                    </mat-button-toggle-group>
                </div>
            </div>

            -->

            <!-- <div class="form-group">
                <label for="name">Agência</label>
                <input type="text" class="form-control" id="name" required>
            </div> -->

            <!--<div class="example-selected-value">Selected value: {{group.value}}</div>-->
            <!-- <div class="form-group">
                <label for="alterEgo">Conta</label>
                <input type="text" class="form-control" id="alterEgo">
            </div>

            <div class="form-group">
                <label for="alterEgo">Valor</label>
                <input type="text" class="form-control" id="alterEgo">
            </div>
            <button type="submit" class="btn btn-success btn-continue">Continuar</button>
        </form> -->

        <form [formGroup]="transferenciaForm" (ngSubmit)="submit()" class="transferencia-form">
            <mat-card class="form-card">

                <mat-form-field class="form-group">
                    <input matInput
                            type="number"
                            placeholder="Agência"
                            autocomplete="off"
                            name="agencia" id="agencia" [formControl]="agencia"
                            >
                </mat-form-field>

                <mat-form-field class="form-group">
                        <mat-label>Contas</mat-label>
                        <mat-select  name="idContaSelecionada" [formControl]="idContaSelecionada" id="idContaSelecionada">
                          <mat-option *ngFor="let conta of contas | async" [value]="conta._id">
                            {{ conta.account }}
                          </mat-option>
                        </mat-select>
                    <!-- <input matInput
                            type="number"
                            placeholder="Conta"
                            autocomplete="off"
                            name="conta" id="conta" [formControl]="conta"
                            > -->
                </mat-form-field>

                <mat-form-field class="form-group">
                    <input matInput
                            type="number"
                            placeholder="Valor"
                            autocomplete="off"
                            name="valor" id="valor" [formControl]="valor"
                            >
                </mat-form-field>
                <mat-form-field class="form-group">
                    <input matInput
                            type="text"
                            placeholder="Descrição"
                            autocomplete="on"
                            name="descricao" id="descricao" [formControl]="descricao"
                            >
                </mat-form-field>             

                <div class="form-bt-left">
                    <button mat-raised-button class="form-btn">Enviar</button>
                    <div style="margin-left: 5px;"> 
                      <a mat-raised-button class="form-btn"
                      [routerLink]="'/dados-bancarios'">Voltar</a>
                    </div>                    
                  
                </div>

            </mat-card>
        </form>
    </div>
</div>